    h1 { 
    font-family: 'Caprasimo', cursive;
    font-size: 500%; 
   max-width: 100%;}
    
    .fancy-text {
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    }
  
  
   header {
    font-weight: bold;
    color: blue;
    display: flex;
    justify-content: space-between;
   }
  
   body {
      margin: 0;
      text-align: center;
      background-color: white;
     }
  
  #scoreDisplay {
    float: left;
    color: rgb(61, 9, 130);
    font-size: 20px;
  }
  
  #scoreDisplay:hover {
    background-color: #ddd;
    color: black;
  }
  
  #timerDisplay {
    color: darkcyan;
    float: right;
    }
  
  #timerDisplay:hover
  {
    background-color: #ddd;
    color: black;
  }
  
  button {
    display: inline-block;
    background-color: rgb(231, 247, 56);
    font-size: 20px;
    padding: 9px 500px;
    border: 4px solid;
    border-radius: 10px;
    transition-duration: 0.4s;
      
  }
  
  .container {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }